<div class="page-header">
  <%= link_to status_catalogs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New status_catalog</h1>
</div>

<%= render 'form' %>
