<table>
	<tbody>
	<tr data-status="espera">
	<td>
		<div id="player_a" class="projekktor"></div>
	</td>
	<td>
		<!--<img id="remoteVideo" style="-webkit-user-select: none" src="http://192.168.0.1:8080/">-->
		<div id="webcams"></div>
	</td>
	</tr>
	<tr>
	</tr>
	</tbody>
</table>
