<div class="page-header">
  <%= link_to shipment_statuses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New shipment_status</h1>
</div>

<%= render 'form' %>
